<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clima Cell</title>
</head>

<body>
    <h1>How To Get the weather data a specific location</h1>
    <h2>
        add to the current link this path
        <h2>weather/data/</h2>
        <h2>then write</h2>
        <h2>"lat=" and the latitude number for the location</h2>
        <h2>then write</h2>
        <h2>"&&"</h2>
        <h2>then write</h2>
        <h2>"lon=" and the longitude number for the location</h2>
        and thats it
    </h2>
</body>

</html>